$almost-black: rgb(54, 54, 58);
$charcoal: rgb(84, 84, 88);
$gray: rgb(208, 211, 212);
$light-gray: rgb(238, 240, 240);
$light-blue: rgb(236, 252, 255);
$sky-blue: rgb(197, 240, 248);
$dark-blue: rgb(25, 100, 120);
$blue-green: rgb(61, 163, 165);
$yellow: rgb(245, 196, 48);
$dark-yellow: rgb(255, 211, 55);
