@import "colors";

img.image {
  margin-top: 20px;
  border: .1rem solid $gray;
}

.main {
  display: grid;
  justify-items: center;

  .container {
    border: .1rem solid $gray;
    display: grid;

    column-gap: 20px;
    grid-auto-rows: minmax(30px, auto);
    align-items: center;
    text-align: right;
    background-color: $light-gray;

    .price-label,
    .total-label {
      text-transform: uppercase;
      font-weight: 600;
      grid-column: 2;
    }

    .price-label {
      grid-row: 2;
    }

    .total-label {
      grid-row: 3;
    }

    .price-amount,
    .total-amount {
      padding-right: 1rem;
      grid-column: 3;
      font-style: italic;
      font-weight: 400;
    }

    .price-amount {
      grid-row: 2;
    }

    .total-amount {
      grid-row: 3;
    }

    .component {
      padding-left: 1rem;
      grid-column: 1;
      grid-row: 1 / 5;
    }
  }
}
