img.image {
  border: .1rem solid $gray;
}

.main {
  margin-left: 6.5rem;
  width: 500px;

  .container {
    border: .1rem solid $gray;
    display: grid;
    grid-auto-rows: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: right;
    background-color: $light-gray;

    .price-label,
    .total-label {
      text-transform: uppercase;
      font-weight: 600;
      grid-column: 2;
    }

    .price-label {
      grid-row: 2;
    }

    .total-label {
      grid-row: 3;
    }

    .price-amount,
    .total-amount {
      padding-right: 1rem;
      grid-column: 3;
      font-style: italic;
      font-weight: 400;
    }

    .price-amount {
      grid-row: 2;
    }

    .total-amount {
      grid-row: 3;
    }

    .component {
      padding-left: 1rem;
      grid-column: 1;
      grid-row: 1 / 5;
    }
  }
}
